// 
// 
// 
// ████  ANIMATIONS  ████
// 
$speed-slowest: 500ms;
$speeds: ($speed, $speed-slow, $speed-slower, $speed-slowest);
// 
.is-animated-loading {
	opacity: 0 !important;
}

.is-animated {
	animation-duration: $speed !important;
}

.is-animated-slow {
	animation-duration: $speed-slow !important;
}

.is-animated-slower {
	animation-duration: $speed-slower !important;
}

.is-animated-slowest {
	animation-duration: $speed-slowest !important;
}

.is-animated-infinite {
	animation-iteration-count: infinite !important;
}

// 
// 
//
